
}
.container{
	width: 80%;
}
body{
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
    margin: auto;
    padding: 0 250px;
    }